/* ContactUs.css */
.contact-us-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
	gap: 10px;
}

.contact-us-container .contact-details {
	flex: 1;
	color: #fff;
	padding: 20px;
	background-color: #007acc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contact-us-container .contact-details h1 {
	font-size: 28px;
	margin-bottom: 20px;
}

.contact-us-container .contact-details p {
	font-size: 16px;
	margin-bottom: 20px;
}

.contact-us-container .contact-details ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.contact-us-container .contact-details li {
	margin-bottom: 10px;
}

.contact-us-container .contact-form {
	flex: 1;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
}

.contact-us-container .contact-form h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.contact-us-container .form-group {
	margin-bottom: 20px;
}

.contact-us-container .form-group label {
	display: block;
	font-size: 16px;
	margin-bottom: 5px;
	color: #333;
	text-align: left; /* Add this line to align labels to the left (start) */
}

.contact-us-container .form-group input,
.contact-us-container .form-group textarea {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.contact-us-container .form-group textarea {
	resize: vertical;
}

.contact-us-container button[type="submit"] {
	background-color: #007acc;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
}

.contact-us-container button[type="submit"]:hover {
	background-color: #005c99;
}

.contact-us-container .contact-form,
.contact-us-container .contact-details {
	width: 100%;
}

@media screen and (max-width: 700px) {
	.contact-us-container {
		flex-direction: column;
	}
}
