.home-page-card-container {
	display: grid;
	width: 100%;
	grid-template-columns: 75% 25%;
	padding: 3% 3%;
}

.cheapest {
	border: 2px #ffca28 solid;
	padding: 5% 4%;
	width: 100%;
}

.home-page-card-container .left {
}
