.car-card-container-inner {
	cursor: pointer;
	transition: transform 0.3s ease-in-out !important;
}

.car-card-container-inner:hover {
	transform: scale(1.03); /* Enlarge by 10% on hover */
}

.modal-media-container {
	display: grid;
}

.line-modal {
	margin-right: 0;
	margin-bottom: 20px;
}

.modal-container-inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.modal-container-inner .car-data {
	margin-top: 2%;
	margin-bottom: 2%;
}

.modal-media-container .carousel .slider-wrapper {
	width: 60%;
}

.modal-media-container {
	margin-top: 50px;
}

@media screen and (max-width: 1000px) {
	.modal-container-inner {
		display: grid;
		grid-template-columns: 1fr;
	}

	.youtube-box {
		top: 100% !important;
	}
}
