#root {
	text-align: center;
}

body {
	margin: 0;
}

html {
	font-family: ui-sans-serif, system-ui !important;
}

.hight-must {
	min-height: 75vh;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.MuiMenuItem-root {
	font-weight: 600 !important;
}

.models-page-container .MuiSelect-select {
	font-weight: 600 !important;
	font-size: 1.2rem;
}

.car-card-container-inner .MuiCardMedia-root {
	height: 170px !important;
}
