#root {
	text-align: center;
}

body {
	margin: 0;
}

html {
	font-family: ui-sans-serif, system-ui !important;
}

.hight-must {
	min-height: 75vh;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.MuiMenuItem-root {
	font-weight: 600 !important;
}

.models-page-container .MuiSelect-select {
	font-weight: 600 !important;
	font-size: 1.2rem;
}

.on-hover-red:hover {
	color: rgb(255, 42, 42);
}

.car-card-container-inner .MuiCardMedia-root {
	height: 170px !important;
}

.h-12 {
	object-fit: cover;
}

.enlarge-on-hover {
	transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.enlarge-on-hover:hover {
	transform: scale(
		1.03
	); /* Change the size on hover (1.03 for 3% enlargement) */
}

.navbar-container .MuiBox-root {
	align-items: center;
}
